@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,body,main {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: hsl(0, 0%, 98%);
    font-family: 'Public Sans', sans-serif;
}
main {
    position: relative;
}
.stop-scrolling {
    height: 100vh;
    overflow: hidden;
}
.bgBlur {
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.456);
}
/* Part One */

.partOne {
    width: 100%;
    z-index: 3;
    padding: 10px 0px 0px 0px;
    background-color: white;
}
.partOne .menu {
    width: 100%;
    margin: auto;
    display: flex;
}
.comLogo,
.navigations,
.reqButton {
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger {
    display: none;
}
.comLogo {
    width: 30%;
}
.navigations {
    width: 50%;
}
.reqButton {
    width: 30%;
}
.hamburger img:hover {
    cursor: pointer;
}
.navigations nav a {
    color: hsl(233, 8%, 62%);
    text-decoration: none;
    margin: 12px;
    font-size: 0.9em;
    font-weight: 100;
}
button {
    width: 180px;
    padding: 15px 10px 15px 10px;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 0.9em;
    color: white;
    text-align: center;
    font-weight: 600;
    font-family: 'Public Sans', sans-serif;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
button:hover {
    cursor: pointer;
    opacity: 0.6;
}
.navigations nav a:hover,
.navigations nav .active {
    text-decoration: underline;
    text-decoration-color: hsl(136, 65%, 51%);
    text-underline-offset: 22px;
    text-decoration-thickness: 4px;
    color: black;
    font-weight: 500;
}
.navigations nav a:hover {
    text-decoration-color: hsl(136, 46%, 56%);
}
.mobMenu {
    display: none;
}

/* Part Two */

.partTwo {
    width: 100%;
    display: flex;
    margin-left: 5%;
    background: url(./images/bg-intro-desktop.svg) right no-repeat;
    background-size:contain;
    background-position-x: 130%;
    background-position-y: -80px;
}

.nextGen {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.phones {
    width: 55%;
}
.content {
    width: 90%;
    margin-top: -60px;
}
.content h1 {
    font-size: 3em;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    padding-right: 20%;
}
.content p {
    font-size: 0.9em;
    color: hsl(233, 8%, 62%);
    line-height: 1.4;
    padding-right: 25%;
}
.content button {
    margin-top: 10px;
}
.phones {
    overflow: hidden;
}
.phones img {
    width: 100%;
    margin-top: -110px;
    margin-left: 50px;
}

/* Part Three */

.partThree {
    width: 100%;
}
.partThree .inner {
    width: 90%;
    margin: auto;
}
.whyCon {
    width: 100%;
    text-align: left;
}
.whyCon h1 {
    color: hsl(233, 26%, 24%);
    font-weight: 400;
    font-size:2em;
}
.whyCon p {
    font-size: 1em;
    padding-right: 45%;
}
.features {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.features .box {
    width: 22%;
    height: 100%;
    padding: 10px 10px 20px 0px;
}
.box h2 {
    font-size: 1.3em;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}
.box p {
    font-size: 0.9em;
    font-weight: 400;
    color: hsl(233, 8%, 62%);
}

/* Part four */

.partFour {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.partFour .wrapper {
    width: 90%;
    margin: auto;
}
.header {
    width: 100%;
}
.header h1 {
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}
.articles {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.articles .abox {
    width: 23%;
    display: flex;
    flex-direction: column;
}
.imgBox {
    width: 100%;
    min-height: 200px;
}
.imgBox img {
    width: 100%;
    height: 200px;
}
.imgBox,
.imgBox img,
.abox {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.conBox {
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 253, 253);
}
.innerCon {
    width: 100%;
    padding-right: 10px;
}
.innerCon small {
    font-size: 0.7em;
}
.innerCon h3 {
    font-size: 0.9em;
}
.innerCon h3:hover {
    cursor: pointer;
    color: hsl(136, 65%, 51%);
}
.innerCon p {
    font-size: 0.7em;
}

/* Part Five */

.partFive {
    width: 100%;
    padding: 20px 0px 50px 0px;
    color: white;
    background-color: hsl(233, 26%, 24%);
}
.innerPart {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.fbox {
    flex-grow: 1;
}
.social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}
.social nav a i{
    color: white;
    margin: 10px;
    font-size: 1.2em;
}
.social nav a i:hover {
    color:  hsl(136, 65%, 51%);
}
.social nav a i:nth-child(1) {
    margin-left: 0px;
}
.optionsOne {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.optionsOne nav {
    display: flex;
    flex-direction: column;
}
.optionsOne nav a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 1em;
    margin: 10px;
    margin-left: 0px;
}
.optionsOne nav a:hover {
    cursor: pointer;
    color: hsl(136, 65%, 51%);
}
.req {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.req p {
    font-size: 0.9em;
}
